<%= form_for  @comment,:html => {:class => 'form'} do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :body, class:"form-input", size:"60", placeholder:"Write a comment..."%>
  </div>
  <div class="field">
    <%= form.number_field :user_id, class:"form-input", size:"60", placeholder:"Write a comment...", value:current_user.id%>
  </div>
  <div class="field">
    <%= form.number_field :post_id, class:"form-input", size:"60", placeholder:"Write a comment...", value:post.id%>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
