<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent">
      <form class="d-flex">
        <%= inline_svg_tag "letter-f-svgrepo-com", class: 'logo' %>
        <input class="form-control me-2 search" type="search" placeholder="Search Fakebook" aria-label="Search">
    </form>
      <ul class="navbar-menu">
        <li class="nav-item item">
          <a class="nav-link" href="#">
            <%= inline_svg_tag "home-svgrepo-com.svg", class: 'icon' %>
          </a>
        </li>
        <li class="nav-item item">
          <a class="nav-link" aria-current="page" href="#">
            <%= inline_svg_tag "two-friends-svgrepo-com ", class: 'icon dropdown' %>
          </a>
        </li>
        <li class="nav-item item">
          <a class="nav-link" href="#">
            <%= inline_svg_tag "multiple-screen-play-svgrepo-com", class: 'icon' %>
          </a>
        </li>
        <li class="nav-item item">
          <a class="nav-link" href="#">
            <%= inline_svg_tag "game-svgrepo-com", class: 'icon' %>
          </a>
        </li>
      </ul>
      <ul class="profile-menu">
        <li class="nav-item">
        <a class="user" href="#">
            <div class="profile-menu-img"></div>
            <p class="profile-menu-username"><%= current_user.first_name %></p>
            </a>
<!--              <p class="profile-menu-username"><%#= link_to "Sign Up" ,  new_user_session_path %></p>-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <%= inline_svg_tag "message-svgrepo-com", class: 'profile-menu-icon' %>
          </a>
        </li><li class="nav-item">
        <a class="nav-link" href="#">
          <%= inline_svg_tag "bell-svgrepo-com", class: 'profile-menu-icon' %>
        </a>
      </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <%= inline_svg_tag "arrow-down-bold-svgrepo-com", class: 'profile-menu-icon' %>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to "Create", new_post_path, class:"dropdown-item" %>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete,  class:"dropdown-item" %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


